<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>css trick</title>
  <link rel="stylesheet" href="./dist/index.css">
</head>
<body>
  <div class="view-box">
    <div class="btn-prev"></div>
    <ul class="container-list">
      <% for (var i = 0; i < this.pages.length; i++) { %>
        <li class="container">
          <h1 class="title"><% this.pages[i].title %></h1>
          <div class="middle-helper"></div>
          <% this.pages[i].content %>
        </li>
      <% } %>
    </ul>
    <div class="btn-next"></div>
  </div>
  <script src="./dist/index.js"></script>
</body>
</html>
