.content-7 .box {
  font-size: 10px;
  width: 30em;
  height: 15em;
  background-color: hsl(20, 40%, 90%);
  background-image:
    linear-gradient(90deg, #fb3 11px, transparent 0),
    linear-gradient(90deg, #ab4 23px, transparent 0),
    linear-gradient(90deg, #655 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}
