.content-12 .box {
  font-size: 10px;
  width: 13em;
  line-height: 1.8;
  padding: 1em;
}

.content-12 .convex-text {
  font-size: 1.6em;
  background-color: hsl(210, 13%, 40%);
  color: hsl(210, 13%, 75%);
  text-shadow: 0 -1px 1px black;
}

.content-12 .concave-text {
  font-size: 1.6em;
  background-color: hsl(210, 13%, 60%);
  color: hsl(210, 13%, 30%);
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, .8);
}
