.content-10 .box {
  display: inline-block;
  font-size: 0;
}

.content-10 .box nav > a {
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 2em 2em .5em;
  color: #000;
  text-decoration: none;
}

.content-10 .box nav > a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ccc;
  background-image: linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0));
  border: 1px solid rgba(0, 0, 0, .4);
  border-bottom: 0;
  border-radius: .5em .5em 0 0;
  box-shadow: 0 .15em white inset;
  transform: perspective(.5em) rotateX(5deg);
  transform-origin: bottom;
}

.content-10 .box .nav-content {
  font-size: 16px;
  height: 10em;
  border: 1px solid rgba(0, 0, 0, .4);
}
